.MapNavBox 
{
  float: right;
  background-color: white;
  width: 290px;
  height: 200px;
  padding: 5px;
  border: 2px solid navy;
  position:relative;
}

 .MapNavBox button
 {  
    position:absolute;
    background-color: gray;
    width:50px;
    height:50px;
    border: 2px solid navy; 
}

 #Map
{

  background-color: green;
  width:50px;
  height:50px;
  border: 2px solid navy;
}