div#statusDiv {
	background-color: black;
	border: 5px solid lawngreen;
	padding: 5px;
	width: 200px;
	color: white;
}

div#percentText {
	position: absolute;
	top: 71px;
	left: 90px;
	color: white;
}

progress {
    background-color: lightblue;
    margin: 3px;
    position: relative;

}

progress#xpBar[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress#PENAUT[value]::-webkit-progress-bar {
  background-color: #600;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress#PENAUT[value]::-webkit-progress-value {
  background-color: #f00;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

span.NAME123 {
   font-size: 22pt;
}


span#sandwich {
   position: relative;
   left: 4px;

}